.container
{
    border: 1px solid black;
    // display: grid;
    // grid-template-columns: min-content;
    // grid-template-rows:  auto auto;
    // grid-template-areas:
    // "icon"
    // "text";
}


.nav-link
{
    // grid-area: "text";
    padding: 10px 15px 10px 15px;
    font-size: 20px;
    background-color: green;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    // justify-content: center;
    // flex-grow: 1;
    // min-width: 20px;
    // overflow: hidden;
    // white-space: nowrap; 
    // font-family: sans-serif;
    // font-size: 13px;
    // text-decoration: none;
    -webkit-tap-highlight-color: transparent;
    transition: background-color 0.3s ease-in-out;
}

.nav-link:hover
{
    
    background-color: greenyellow;
}