div
{
    position: fixed;
    bottom: 0px;
    margin: 100px;
    // top: 50%;
    left: 50%;
    transform:translate(-50%, -50%);
    text-align: center;
    align-items: center;
}

button
{
    position: fixed;
}