h2
{
    // display:flex;
    text-align: center;
    position:fixed;
    left:50%;
    width:100%;
    // border: 2px solid black;
    transform: translateX(-50%);


    // box-shadow: 0px 0px 50px rgba(0,0,0,0.4);
    // width:100%;
}